html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

/* basic styles */

/* basic styles for header */
:root {
  --font: Montserrat, Roboto;
  --hdr-color: #fff;
  --title-color: #333;
  --txt-color: #666;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo,
.logo-link {
  font-family: var(--font);
}
.logo-link {
  font-size: 20px;
}

.main-header {
  background-color: teal;
  min-height: 540px;
  background-repeat: no-repeat;
  background-image: url(../images/mobile.png);
}

.user-nav-list,
a {
  font-size: 14px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 700;
}
.navigation {
  display: flex;
}
.user-nav {
  display: flex;
}
.user-nav-link {
  display: block;
  padding: 8px 16px;
  border: 3px solid transparent;
  border-radius: 20px;
}

.user-nav-link:hover,
.user-nav-link:focus {
  border: 3px solid #fff;
}
.hdr-title {
  font-size: 28px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.hdr-txt {
  font-size: 18px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 300;
  margin: 0;
  text-align: center;
}
.hdr-btn {
  all: unset;
  min-width: 280px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  font-family: var(--font);
  color: var(--hdr-color);
  text-align: center;
  font-weight: 700;
}
.hdr-btn:hover,
.hdr-btn:focus {
  background-color: #fff;
  color: #ff4e50;
}
.btn:hover,
.hdr-btn:focus {
  color: #fff;
  background-color: #ff4e50;
}

/* basic styles for main */

.title {
  font-size: 22px;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
}
.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partner-name {
  font-size: 14px;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
}
.partner-description {
  font-size: 14px;
  color: var(--txt-color);
  font-family: var(--font);
  font-weight: 300;
}
.btn {
  all: unset;
  min-width: 280px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  font-family: var(--font);
  color: #ff4e50;
  text-align: center;
  font-weight: 700;
}
/* phone */

@media screen and (min-width: 320px) and (max-width: 659px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navigation {
    padding-top: 20px;

    flex-direction: column-reverse;
    align-items: center;
  }
  .user-nav {
    margin-bottom: 114px;
  }

  .hdr-title {
    margin-bottom: 16px;
  }
  .hdr-txt {
    margin-bottom: 16px;
  }
  /* partners list */
  .title {
    margin: 0;
    padding-top: 72px;
    margin-bottom: 20px;
    text-align: center;
  }
  .partners-list-item {
    margin-bottom: 30px;
  }

  .partner-name,
  .partner-description {
    display: block;
    text-align: center;
    margin-top: 14px;
  }
  .content {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 660px) and (max-width: 939px) {
  .main-header {
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url(../images/tablet.png);
  }
  .navigation {
    padding-left: 54px;
    padding-right: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user-nav {
    display: flex;
  }
}

@media screen and (min-width: 940px) {
  .main-header {
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url(../images/desctop.png);
  }
}
