html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

/* basic styles */

/* basic styles for header */
:root {
  --font: Montserrat, Roboto;
  --hdr-color: #fff;
  --title-color: #333;
  --txt-color: #666;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo,
.logo-link {
  font-family: var(--font);
}
.logo-link {
  font-size: 20px;
}
.logo {
  margin: 0;
}
.main-header {
  background-color: teal;
  min-height: 540px;
  background-repeat: no-repeat;
  background-image: url(../images/mobile.png);
  background-position: center;
  background-size: cover;
}

.user-nav-list,
a {
  font-size: 14px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 700;
}
.navigation {
  display: flex;
}
.user-nav {
  display: flex;
}
.user-nav-link {
  display: block;
  padding: 8px 16px;
  border: 3px solid transparent;
  border-radius: 20px;
}

.user-nav-link:hover,
.user-nav-link:focus {
  border: 3px solid #fff;
}
.hdr-title {
  font-size: 28px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.hdr-txt {
  font-size: 18px;
  color: var(--hdr-color);
  font-family: var(--font);
  font-weight: 300;
  margin: 0;
  text-align: center;
}
.hdr-btn {
  display: block;
  min-width: 280px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  font-family: var(--font);
  color: var(--hdr-color);
  text-align: center;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}
.hdr-btn:hover {
  background-color: #fff;
  color: #ff4e50;
}
.btn:hover,
.hdr-btn:focus {
  color: #fff;
  background-color: #ff4e50;
}

/* basic styles for main */

.title {
  font-size: 22px;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.partners-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 236px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  align-items: flex-start;
}
.partner:hover .svg-btn,
.partner:focus .svg-btn {
  transform: scale(1.05);
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}
.partner-name {
  font-size: 14px;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
}
.partner-description {
  font-size: 14px;
  color: var(--txt-color);
  font-family: var(--font);
  font-weight: 300;
}
.partner-name,
.partner-description {
  display: block;
  text-align: center;
  margin-top: 14px;
}
.btn {
  all: unset;
  display: block;
  min-width: 280px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  font-family: var(--font);
  color: #ff4e50;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.user-photo {
  position: relative;
}
.svg-btn {
  all: unset;
  width: 30px;
  height: 30px;
  background-color: #ff4e50;
  border-radius: 100%;
  border: 4px solid #fff;
  position: absolute;
  transform: translateX(100%);
}
.fix {
  position: absolute;
  transform: translateX(100%) translateY(-15px);
}
.svg-btn-icon {
  transform: translateX(5px) translateY(5px);
}

.partners-list-item:nth-child(2n) .svg-btn {
  background-color: #ffa507;
}
.partners-list-item:nth-child(3n) .svg-btn {
  background-color: #1cd7ad;
}
.partners-list-item:nth-child(4n) .svg-btn {
  background-color: #4e73db;
}
/* phone */

@media screen and (min-width: 320px) and (max-width: 531px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navigation {
    padding-top: 20px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .user-nav {
    margin-bottom: 114px;
  }

  .hdr-title {
    margin: 40px;
    margin-bottom: 16px;
  }
  .hdr-txt {
    margin-bottom: 16px;
  }
  .hdr-btn {
    display: block;
    width: 280px;
    padding: 12px;
  }
  /* partners list */
  .title {
    padding-top: 72px;
    margin-bottom: 20px;
  }
  .partners-list-item {
    margin-bottom: 30px;
  }
  .partner:hover .svg-btn,
  .partner:focus .svg-btn {
    transform: scale(1.05);
  }
  .content {
    padding-bottom: 56px;
  }
}
/* tablet */
@media screen and (min-width: 532px) and (max-width: 939px) {
  .main-header {
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url(../images/tablet.png);
  }
  .navigation {
    padding-top: 40px;
    padding-left: 54px;
    padding-right: 54px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 146px;
  }
  .hdr-title {
    font-size: 52px;
    width: 540px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
  }
  .hdr-txt {
    margin-bottom: 34px;
  }
  .hdr-btn {
    display: block;
    width: 284px;
    padding: 12px 24px;
  }
  .content {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .title {
    padding-top: 72px;
    margin-bottom: 34px;
  }
  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    width: 512px;
    margin-right: auto;
    margin-left: auto;
  }
  .partner:hover .svg-btn,
  .partner:focus .svg-btn {
    transform: scale(1.05);
  }
}

/* desktop */

@media screen and (min-width: 940px) {
  .main-header {
    background-image: url(../images/desctop.png);
    padding-top: 40px;
    max-width: 1440px;
    /* background-position: center; */
    margin-right: auto;
    margin-left: auto;
  }
  .container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .navigation {
    justify-content: space-between;
    margin-bottom: 140px;
  }
  .hdr-title {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 36px;
  }
  .hdr-txt {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .hdr-btn {
    display: block;
    width: 284px;
    padding: 12px 24px;
  }
  .content {
    padding-top: 64px;
  }
  .title {
    margin-bottom: 30px;
  }
  .partners-list {
    display: flex;
    margin-bottom: 36px;
  }
  .partners-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 236px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .btn {
    margin-bottom: 70px;
  }
}
